head
  title CS Esports
h2(class='test') Counterstrike Esports stats
.row
  .column(style='background-color:#aaa;')
    h2 Team1
    p(class='scoreTeam1') score
  .column(style='background-color:#bbb;')
    h2 Team2
    p(class='scoreTeam2') score
  .column(style='background-color:#ccc;')
    h2 Team3
    p(class='scoreTeam3') score

script(src="http://localhost:3000/primus/primus.js") 
script(src="/javascripts/index.js") 